body {
    background-color: whitesmoke
}
li {
    color:black 
}
.textalign {
    text-align: center;
}
.rightalign {
    text-align: right;
}
.textcolor {
    color:purple;
}
.myfont {
    font-family: Arial, Helvetica, sans-serif;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.padding {
    padding-left: 50px;
}
.padding2 {
    padding-left: 100px;
}
.listright {
    text-align: right;
    list-style-position: inside;
}
.underline {
    text-decoration: underline;
}
.centerimg {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}